* {
    box-sizing: border-box;
    font-family: monospace;
}
a{
    color: white;
    padding: 10px;
}
ol, ul, li{
    font-size: 20px;
    color: white;
    margin-left: 30px;
}
body {
    background-color: rgba(5, 23, 35);
    background: repeating-linear-gradient(
  rgba(5, 23, 35),
  rgb(7, 29, 44) 5px,
  rgb(10, 35, 51) 5px,
  rgb(11, 32, 46) 10px
);
}
p, label{
    color:white;
    font-size: 20px;
}
.navigation{
    margin: auto;
    text-align: center;
    padding: 5px;
    background-color: rgba(20, 42, 55, 0.7);
    border: 4px solid #8799a3;
    border-radius: 20px;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 20px;
    width: 500px;
    line-height: 2.5;
    display: flex;
    justify-content: center;
}
.header{
    text-align: center;
    padding: 40px;
    background-color: rgba(20, 42, 55, 0.7);
    border: 8px solid #8799a3;
    border-radius: 20px;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 70px;
    margin: 0px;
    display: flex;
    justify-content: center;
}
.timelineBox{
    padding: 30px;
    border-radius: 20px;
    color: white;
    background-color: rgba(20, 42, 55, 0.7);
    border: 8px solid #8799a3;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 1100px;
    margin: auto;
}
#metroid1Img{
    float: right; 
    width: 200px;
    margin-top: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#metroid2Img{
    float: right; 
    width: 200px;
    margin-top: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#metroidPrimeImg{
    float: right; 
    width: 200px;
    margin-top: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#metroidTLImg{
    float: right; 
    width: 200px;
    margin-top: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 20px;
}
#metroidDreadImg{
    float: right;
    width: 300px;
    margin-top: 50px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.mainPageImg{
    width: 450px; 
    float: left;
}
.mainPageMiniImg{
    width: 230px; 
    height: 140px; 
    border: 5px solid #8799a3;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.bioImg{
    width: 300px;
    float: right;
    border: 5px solid #8799a3;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-right: 30px;
    margin-left: 30px;
}
#bioMultImages{
    float:right;
    width: 600px;
    margin-bottom: 50px;
    margin-top: 30px;
    margin-right: 70px;
    margin-left: 50px;
    border: 5px solid #8799a3;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.imgButton{
    background-color: black;
    color: white;
}
#email{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 300px;
    height: 30px;
}
#type{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100px;
    height: 30px;
}
#note{
    padding: 10px;
}
#confirmPgGif{
    width: 500px;
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: rgba(20, 42, 55, 0.7);
    border: 4px solid #8799a3;
}
@media(max-width:500px){
    .mainPageImg{
        flex-direction: column;
    }
}
@media(max-width: 700px){
    #metroidTLImg{
                display: none;
    }
    #metroid1Img{
        display: none;
    }
    #metroid2Img{
        display: none;
    }
    #metroidPrimeImg{
        display: none;
    }
    #metroidDreadImg{
        display: none;
    }
    .imgButton{
        display: none;
    }
    .bioImg{
        display: none;
    }
    .bioMultImages{
        display: none;
    }
}
@media (max-width: 1000px) {
    .timelineBox {
        width: 95%; 
    }
    #note{
        width: 300px;
    }
    #confirmPgGif{
        width: 300px;
    }
}

